@tailwind base;
@tailwind components;
@tailwind utilities;
/* ==========================================
   ESUBIZ MOTION SYSTEM
========================================== */

@layer utilities {

    .motion-base{
        opacity:0;
        transform:translateY(50px);
        transition:
            opacity .8s ease,
            transform .8s cubic-bezier(.2,.65,.2,1);
        will-change:opacity,transform;
    }

    .motion-show{
        opacity:1;
        transform:translateY(0);
    }

    .motion-left{
        opacity:0;
        transform:translateX(-60px);
        transition:all .8s cubic-bezier(.2,.65,.2,1);
    }

    .motion-right{
        opacity:0;
        transform:translateX(60px);
        transition:all .8s cubic-bezier(.2,.65,.2,1);
    }

    .motion-up{
        opacity:0;
        transform:translateY(60px);
        transition:all .8s cubic-bezier(.2,.65,.2,1);
    }

    .motion-scale{
        opacity:0;
        transform:scale(.92);
        transition:all .8s cubic-bezier(.2,.65,.2,1);
    }

    .motion-show-left,
    .motion-show-right,
    .motion-show-up,
    .motion-show-scale{

        opacity:1;
        transform:none;

    }

    .floating{

        animation:floating 6s ease-in-out infinite;

    }

    @keyframes floating{

        0%,100%{

            transform:translateY(0);

        }

        50%{

            transform:translateY(-15px);

        }

    }

}
